<aside id="sidebar">

    <div class="uk-panel uk-panel-box uk-text-center widget">
        <img class="uk-border-circle" style="width:200px" width="120" height="120" src="http://mp-static-file.oss-cn-qingdao.aliyuncs.com/image%2Fuser%2Fonlyone-434.jpg"/>
        <h3 style="font-weight: bolder;font-size: 20px;">Mark Stock</h3>
        <p style="font-size: 13px;color: #666;">Guts Over Fear</p>
    </div>

    <div class="widget tagcloud">
        <h3 class="widget-title">标签</h3>
        <div class="widget-content">
            {{tag_cloud limit="all"}}
        </div>
    </div>

    {{#is 'post'}}
        {{> "topic-wrap"}}
    {{/is}}
</aside>
