<nav class="cover-navigation navigation--social">
    <ul class="navigation">
        <!-- Github -->
        <li class="navigation__item">
            <a href="https://github.com/markstock7" title="@markstock7 的 Github" target="_blank" class="uk-icon-hover uk-icon-github uk-icon-medium"></a>
        </li>

        <!-- RSS -->
        <li class="navigation__item">
            <a href="/rss/" rel="author" title="RSS" target="_blank" class="uk-icon-rss uk-icon-hover uk-icon-medium"></a>
        </li>

        <!-- Email -->
        <li class="navigation__item">
            <a href="mailto:markstock7@hotmail.com" title="邮件联系我" target="_blank" class="uk-icon-envelope uk-icon-hover uk-icon-medium"></a>
        </li>
    </ul>
</nav>
